./.dist
/tests
/demo.html
/index.html
/server.js
/template.js
audio.js
file.html
file.js
style.css
text.txt
config.xml
tagger.js
test.php
tracks.json
tracks.txt
/node_modules
/streaming
/lib
/fpm
/dist
/Apps
/APIS
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/.history
.pnp.js

# testing
/draft
/audiotagger