<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>User Guide</title>
</head>
<body>
    
    <div class="help-container">
        <div class="help-cont">
            <br>
    <table border="1" class="w3-table">
        <thead class="w3-th">
            <tr>
                <th>Key</th>
                <th>Function</th>
            </tr>
       </thead>
       <tbody>
           <tr>
               <td>
                   Press "P"
               </td>

               <td>
                   This function enables the user to activate the playlist section.<br>In here you can load any folder containing musi tracks you would like to listen to.
               </td>
           </tr>

           <tr>
            <td>Press "ArrowLeft"</td>
            <td>This function loads the previous track <b class="w3-round-small w3-tag w3-indigo">* Only supported in playlist section*</b></td>
           </tr>
        <tr>
            <td>Press "ArrowRight"</td>
            <td>This function loads the next track <b class="w3-tag w3-indigo w3-round-small">Only supported in playlist section</b></td>
        </tr>

        <tr>
            <td>
                Press "<span class="material-icons-round fa-5x mi-settings"></span>"
            </td>
            <td>Here you can view system settings</td>
        </tr>

        <tr>
            <td>
                Press "
                <span class="material-icons-round fa-5x mi-queue-music"></span>"</td>
            <td>This takes you to the playlist section</td>
        </tr>

        <tr>
            <td>Press "  <span class="material-icons-round mi-graphic-eq fa-5x"></span>"</td>
            <td>This actives graphic visualisers Section</td>
        </tr>

        <tr>
            <td>Press " <span style="font-size: medium;">📜</span>"</td>
            <td>Activates the lyrics panel , if not you can get them online</td>
        </tr> 

        <tr>
            <td>Press "<span class="material-icons-round mi-apps btns-opener"></span>"</td>
            <td>Activates more features like editing audio tags,Shuffle music tracks and enable or disable repeating of tracks</td>
        </tr> 

        <tr>
            <td>Press "<span class="material-icons-round fa-5x mi-online-prediction"></span>"</td>
            <td>This activates the streaming section and as for now its only Ugandan Music</td>
        </tr>

        <tr>
            <td>Press "<span class="material-icons-round fa-5x mi-equalizer"></span>"</td>
            <td>This activates the system equalizer a powerful to that one must tune correctly to avoid distortion </td>
        </tr>

        <tr>
            <td>Press " <span class="material-icons-round fa-5x mi-tune"></span>"</td>
            <td>This activates the system audio tunner that comprises of the compressor section<label class="w3-khaki w3-tag w3-round">*Attention!!<br/>In the Compressor section dont over change settings as it might cause audio distortion</label>,room effects,audio balance ,audio playbackRate and audio gain</td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn">Close</button>
            </td>
        </tr>
       </tbody>
   </table>

   
    </div>
</div>
   <script> require('./renderer.js') </script>
</body>
</html>