<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>User Guide</title>
</head>
<body class="w3-container w3-mobile">
    <br>
   <table border="1" class="w3-table">
       <thead class="w3-th">
           <tr>
               <th>Key</th>
               <th>Function</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>Press "U"</td>
               <td>  This function enables the user to open the file-system and  load one track to the player.</td>
           </tr>

           <tr>
               <td>
                   Press "P"
               </td>

               <td>
                   This function enables the user to activate theplaylist section.<br>In here you can load any folder containing musi tracks you would like to listen to.
               </td>
           </tr>

           <tr>
            <td>Press "ArrowRight"</td>
            <td>This function loads the previous track <b class="w3-round-small w3-tag w3-indigo">* Only supported in playlist section*</b></td>
           </tr>

           <tr>
            <td>Press "L"</td>
            <td>This function displays songs lyrics <b class="w3-round-small w3-tag w3-red">* Only supported when online*</b></td>
           </tr>

        <tr>
            <td>Press "ArrowLeft"</td>
            <td>This function loads the next track <b class="w3-tag w3-indigo w3-round-small">Only supported in playlist section</b></td>
        </tr>

        <tr>
            <td>Press "1"</td>
            <td>This takes you to the Home screen</td>
        </tr>

        <tr>
            <td>Press "2"</td>
            <td>This takes you to the Equalizer section</td>
        </tr>

        <tr>
            <td>Press "3"</td>
            <td>This takes you to the Tuning Section</td>
        </tr>

        <tr>
            <td>Press "4"</td>
            <td>This takes you to the Compressor section</td>
        </tr>

        <tr>
            <td>Press "5"</td>
            <td>This takes you to the Compressor section</td>
        </tr>
       </tbody>
   </table>
   <br>
   <!-- <button id="btn" class="w3-block w3-bar-block w3-button w3-blue-gray">Close</button> -->
   <script src="./renderer.js"></script>
</body>
</html>