*{
    font-family:Ubuntu ,Arial,sans-serif,Helvetica,serif;
}
/*
fab options button
*/
.plist-options{
    width: 100%;
    height:100%;
    position: fixed!important;
    backdrop-filter: blur(2px);
    display: flex;
    z-index: 5!important;
    flex-direction: column;
    visibility: hidden;
}

.plist-options.active{
    visibility: visible;
}
.plist-options .options-cont{
    bottom: 240px;
    left: 0px;
    border-collapse: collapse;
    width:30%;
    padding: 10px;
    height:auto !important;
    border-radius: 10px;
    position: absolute!important;
    background-color: #fff;
    transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.plist-options .options-cont.active{
    left: 70px;
}
.plist-options .options-cont td{
    padding: 10px;
    font: normal 19px Ubuntu,Arial;
}
button.fab-options , .refresh{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    outline: none;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: none;
    line-height: 10px;
    cursor: pointer !important;
    border-top: 1px solid #cccc;
    border-right: 1px solid #cccc;
    border-left: 1px solid rgb(69, 71, 69);
    border-bottom: 1px solid rgb(69, 71, 69);
    font-size: 16px;
    transition: 0.3s ease-in-out;
    color: #fff;
}
button.fab-options:hover , .refresh:hover{
    border-top: 1px solid rgb(69, 71, 69);
    border-right: 1px solid rgb(69, 71, 69);
    border-left: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
}
.vol-container{
    width: 100%;
    height: 100%;
    position: fixed !important;
    display: flex !important;
    z-index: 8 !important;
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    visibility: hidden!important;
}

.vol-container .vol-panel  .close-panel{
    position: absolute !important;
    width: 36px;
    cursor: pointer;
    height: 36px;
    border-radius: 50%;
    color: #ffffff;
    transform: scale(1,1);
    background: rgba(20, 20, 20, 0.233);
    border: 2px solid #dddfe7;
    font-size:20px;
    transition: 0.3s ease-in-out;
    top: 20px;
    right:20px;
}
.vol-container  .vol-panel .close-panel:hover{
 transform: scale(1.1,1.1);
}
.vol-container.active{
    visibility: visible!important;
    
}
.vol-container .vol-panel{
    width: 400px;
    padding: 10px;
    position: absolute !important;
    z-index: 10 !important;
    right: 400px;
    bottom: -200px;
    backdrop-filter: blur(20px);
    border: 1px solid #ccc;
    box-shadow: 0px -3px 0px 0px #ccc;
    display: flex!important;
    background-color: rgba(0, 0, 0, 0.397);
    margin: 10px;
    border-radius: 8px;
    color: #fff;
    visibility: hidden!important;
    transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    flex-direction:column!important;
    justify-content: center;
    align-items: center!important;
}
.vol-container .vol-panel .vol-label{
    font: 300 19px  Ubuntu , Arial;
    background-color:#000;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
}
.vol-container .vol-panel .vol-label span{
    color: #fff;
    font: 300 19px  Ubuntu , Arial;
}
.vol-container .vol-panel.active{
    visibility: visible !important;
    bottom: 200px;
}

/**Welcome Panel **/
.welcome-container{
    width: 100%;
    /* background: #000; */
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    height: 100%;
    position: fixed;
    z-index: 8;
    display: flex;
    transition-delay: 1.9s;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-container .welcome-content{
    /* width: 100%; */
    background: #1f2c22cc;
    color: #fff;
    top: -400px;
    width: 500px;
    position: absolute;
    overflow: scroll;
    height:350px;
    box-shadow: inset 0px 0px 8px 0px #eeee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    transition-delay: 0.8s;
    align-items: center;
    padding: 5px;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* border: 1px solid #eeee; */
}
.welcome-container .welcome-content.active{
    transition-delay: 0.8s;
    top: 200px;
    visibility: visible;
}
.welcome-container.active{
    transition-delay: 0.5s;
    visibility: visible;
    
}
.welcome-container .welcome-content::-webkit-scrollbar{
    appearance: none;
    background: transparent;
}
.welcome-container .welcome-content::-webkit-scrollbar-thumb{
    appearance: none;
    background: rgba(29, 27, 27, 0.533);
    box-shadow: inset 0px 0px 5px 0px #dddddddd;
    border-radius: 5px;
}

.welcome-container .welcome-content::-webkit-scrollbar-corner{
    appearance: none;
}
.welcome-container .welcome-content .header{
    font-size:20px;
    /* width:100%; */
    font-weight:600;
    text-shadow: 1px 1px #494545;
    align-items: flex-start;

}
.welcome-container .welcome-content .content-body{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content:center !important;
    align-items: center!important;
    padding: 10px;
}
.welcome-container .welcome-content .content-footer{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    padding: 10px;
    bottom: 10px;
}
.welcome-container .welcome-content .content-footer button{
    width:140px;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    outline: none;
   /* position: absolute; */
    color: #fff;
    /* border: 3px solid #92b0f0; */
    box-shadow:  1px 2px 1px 0px rgb(223, 236, 234);
    background: #1e362a;
    border: none;
    transition: 0.3s ease-in-out;
    right: 30px;
    cursor: pointer;
}
.welcome-container .welcome-content .content-footer button:hover{
    box-shadow:  0px 1px 0px 0px rgb(223, 236, 234);
    background: #0e2338;
}
.zp-logo{
    border-radius: 50%;
    /* box-shadow:inset -1px 0px 0px 0px rgb(178, 195, 209); */
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}
/** Add folder Panel */
.add-container{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 5!important;
    /* background: #0e2338; */
    backdrop-filter: blur(4px);
    flex-direction: column;
   visibility: hidden;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.add-container.active{
    visibility: visible;
}
.add-container .add-body{
    width: 600px;
    position: absolute;
    left: -400px;
    border-radius: 10px;
    display: flex; 
    transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    visibility: hidden;
    flex-direction: column;
    justify-content: center!important;
    align-items: center !important;
    background: rgba(250, 248, 248, 0.89);
}
 .add-container .add-body.active{
     left: 400px; 
    visibility: visible;
} 
.add-container .add-panel{
    width: 200px !important;
    border-radius:10px;
    /* border-collapse: collapse; */
    border: 1px solid #eeeeee;
    background: #1e362a;
    color: #fff;
    /* border */
}

.add-container .add-panel td{
        padding: 10px;
}
.add-container .add-panel  .folders input[type='radio']{
    appearance: none;
    color: #fff;
    width: 20px;
    text-align: center;
    color: #000;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #a852a8;
}
.add-container .add-panel  .folders input[type='radio']:checked{
    background: #e9461d;
}
.add-container .add-btn{
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
}
.add-container .add-btn button{
    width: 200px;
    margin:15px;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;
    color: #fff;
    font-size: 15px;
    background: #1e362a;
    border: none;
}