.sidebar{
    box-shadow: 0px 0px 2px 0px #eee;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 90px !important;
    position: fixed !important;
    z-index: 2!important;
    height: 80vh;
    backdrop-filter: blur(20px);
    background:#00000080;
    transition:0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 100px;
    /* opacity: 0; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    pointer-events: none;
    /* visibility: hidden; */
}
.sidebar table{
    cursor: pointer;
}
body .sidebar.active{
    width: 300px;
    /* opacity: 1; */
    visibility: visible;
}
.sidebar .table{
    padding: 15px;
    color: #fff;
    font: 600 19px Ubuntu;
    position: absolute;
    width: inherit;
    height: inherit;
    left: 10px;
    z-index: 5!important;
    border-collapse: collapse;
    pointer-events: all;
}
.sidebar .table tbody tr{
    cursor: pointer !important;
    border-collapse: collapse;
    pointer-events: all!important;
   padding: 20px!important;
}

.sidebar .table tbody tr:nth-child(odd){
    background: #1d1c1c62;
}
.sidebar .table tbody td{
    /* border: 1px solid #eee; */
    padding: 10px;
}
.sidebar .table tbody td b{
    margin: 7px;
    font-size: 17px !important;
}
.sidebar .table .sidebar-data{
    visibility: hidden;
}
.sidebar .table .sidebar-data.active{
    visibility: visible;
}
.sidebar-icons{
    width: 40px!important;
    height: 40px!important;
    border-radius: 10px!important;
    background: transparent!important;
    padding: 15px !important;
}
.sidebar-icons.active{
    width: initial!important;
    height: initial !important;
    border-radius: 0px!important;
    background: initial!important;
    padding: initial!important;
}
.drawer{
    top: 0 !important;
    position: fixed !important;
    height: 100vh;
    width:10%;
    z-index: 3 !important;
    display: flex;
    align-items:center !important;
    pointer-events: none;
}
.drawer .btn-wrapper button{
    width:45px;
    pointer-events: all;
    height:50px;
    border-end-end-radius: 40px;
    border-top-right-radius: 40px;
    border: none;
    z-index: 2!important;
    position: absolute;
    font-size:36px;
    background-color:black;
    color:white;
    left: 100px;
    transition:0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-weight:bolder;
    cursor:pointer;
    box-shadow: inset 0px 0px 10px 0px rgba(8, 8, 8, 1);
}
.drawer button.active{
    width:47px;
    height:52px;
    left:300px;
}





.compress{
    width:1200px;
    height:600px;
    box-shadow: 0px -4px 0px 0px #ccc;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #00000080;
    backdrop-filter: blur(20px);
    position: fixed !important;
    display:flex !important;
    flex-direction: row-reverse !important;
    align-items:center !important;
    justify-content:center !important;
    visibility:hidden;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    right: -4000px;
}
.compress.active{
    visibility:visible;
    right: 90px;
}
.compress .comp-knobs{
    color:white;
    font: 400 16px Ubuntu,Arial;
    padding: 10px;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: grid !important;
    grid-template-columns:repeat(auto-fill,minmax(380px,2fr)) !important;
    grid-template-rows:auto;
    grid-gap: 1px 1px;
}
.compress .comp-reset{
    margin: 10px;
    position: absolute;
    right: 100px;
}
.compress .comp-reset button{
    width:100px;
    height:40px;
    background-color:transparent;
    color:white;
    font: 100 16px Arial;
    border-radius: 10px;
    cursor:pointer;
    outline:none;
    border: none;
    /* border:0.001px solid #ffffff; */
    box-shadow:inset 0px 0px 10px 0px #eeee;
    transition:0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.compress .comp-reset button:hover{
    background:rgba(98, 172, 241, 0.4);
    box-shadow:inset 0px 0px 20px 0px #63cdff;
    transform: scale(1.1,1);

}
.compressor-header{
    position:absolute;
    font-size:30px;
    color: white;
    left: 20px;
    top: 10px;
}
.close-compressor{
    width: 40px;
    height: 40px;
    cursor:pointer;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    color: white;
    background: transparent;
    transform: scale(1,1);
    border: 1px solid #ccc;
    outline:none;
}
.close-compressor:hover{
    transform: scale(1.1,1.1);
    background: red;
    border: 1px solid red;
}
/* Tunning */
.Tune-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 10;
}

.Tune-container.active{
    visibility: visible;
}
.Tune-container .Tune{
    position:absolute;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 10px;
    backdrop-filter: blur(20px);
    background-color: rgba(15, 14, 14, 0.445);
    border-radius: 5px;
    box-shadow: 0px -4px 0px 0px #eee;
    border: 1px solid #ccc;
    height: 500px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    right: -700px;
    visibility: hidden;
}
.Tune-container .Tune.active{
    visibility: visible;
    right: 300px;
}
.tun-container{
    width:100%;
    height:100%;
    pointer-events: all;
    flex-direction: column;
    display: grid !important;
	grid-template-columns:repeat(auto-fill,minmax(200px,1fr))!important;
	grid-gap: 12px 2px !important;
	grid-template-rows: auto!important;
    justify-content: center;
    align-items: center;
    
}
.Tune-header{
    position: absolute;
    top: 20px;
    left: 30px;
    font: 500 20px Ubuntu,Arial,Helvetica;
    color: #fff;
}
.tunning-label{
    font: 600 16px Ubuntu,Arial,Helvetica;
  
    /* background-color: #000000; */
    padding: 3px;
    border-radius: 5px;
    color: rgb(241, 240, 240);
}
.close-Tune{
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    color: #fff;
    width:50px;
    height:50px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: 1px solid #ccc;
    transform:scale(1,1);
    transition: 0.3s all;
}
.close-Tune:hover{
    transform:scale(1,1);
    background: red;
    border: 1px solid red;
}
/* Equaliser */
#eqns{
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #000000af;
    color: #fff;
}

.eq-cont {
    width:100%;
    height:100%;
    position: fixed !important;
    display:flex !important;
    /* top: 20px; */
    flex-direction: column !important;
    align-items:center !important;
    justify-content:center !important;
    z-index: 8!important;
    visibility:hidden;

}
.eq-cont.active{
    visibility: visible;
}
.eq-cont .eq-wrapper{
    border-radius: 8px;
    width:1050px;
    height:500px;
    position: absolute !important;
    backdrop-filter: blur(19px);
    box-shadow: 0px -4px 0px 0px #ccc;
    border: 1px solid #ccc;
    display:flex !important;
    top: 30px;
    left: -400px;
    color: #fff;
    background-color: #0000005e;
    flex-direction: row !important;
    align-items:center !important;
    justify-content:center !important;
    z-index: 8!important;
    visibility: hidden;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.eq-cont .eq-wrapper.active{
    visibility: visible;
    left: 160px;
}

.bandk{
    width:260px;
    height:900px;
    padding: 0px;
    /* position: absolute; */
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 1px solid #990909; */
    transform: rotate(-90deg) translate(0px,-40px);
}
.bandk::-webkit-scrollbar{
    appearance: none;
    background: rgba(202, 195, 195, 0.466);
    width: 8px;
    border-radius:5px;
}

.bandk::-webkit-scrollbar-corner{
    appearance: none;
    background: rgba(3, 3, 3, 0);
    width: 0px;
    border-radius:5px;
}

.bandk::-webkit-scrollbar-thumb{
    appearance: none;
    background: #055991;
    width: 11px;
    height: 7px;
    cursor: pointer;
    border-radius:5px;
}
.bands{
cursor: grabbing;
appearance: none;
background-color: #e2e4eb;
width: 120px;
height: 3.3px;
}
.bandVal,.bd{
transform: rotate(90deg);
font-size: 13px;
width: 20px;
align-items: center;
display: flex;
flex-direction: column;
}
.bandSlider{
margin: 3px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.bands::-webkit-slider-thumb{
appearance: none;
width: 30px;
border-radius: 10px;
height: 20px;
background-color:#0A0A0A;
border: 1px solid rgb(255, 255, 255);
}
.bands::-webkit-slider-thumb:hover{
    border: 1px solid #00ccff;
}
.bands:hover{
background-color: #00ccff;
}

.eq-cont .eq-wrapper .eq-cont-slides{
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}
.eq-cont .eq-wrapper .eq-cont-slides .tone{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(200px ,2fr));
    grid-gap: 2px 3px;
    grid-template-rows: auto;
}
.eq-cont .eq-wrapper .eq-cont-slides .tone div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.eq-cont .eq-wrapper .eq-cont-slides .tone div p{
    font: 400 18px Ubuntu,Arial;
}
.eq-cont .eq-wrapper .close-eq{
    width: 45px;
    height: 45px;
    cursor: pointer;
    box-shadow: inset 0px 0px 5px 0px #ccc;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #ddd;
    background: transparent;
    color: #ccc;
}
.eq-cont .eq-wrapper .close-eq:hover{
    /* box-shadow: 0px 4px 0px 0px rgb(248, 0, 0); */
    background: red;
    border: 1px solid red;
}
.eq-cont .eq-wrapper  .eq-header{
    position: absolute;
    left: 50px;
    top: 10px;
    font: 500 23px Ubuntu ,-apple-system,Helvetica,Arial;
}
.eq-cont .eq-wrapper .eq-cont-slides input{
    margin:20px;
}
.eq-cont .eq-wrapper .eq-options{
    width:100%;
    margin:20px;
    left:0;
    display:flex;
    flex-direction: column !important;
    align-items:center !important;
    justify-content:center !important;
}

.eq-cont .eq-wrapper .eq-options button{
    margin:50px;
    width:100px;
    height:40px;
    background-color:transparent;
    color:white;
    padding:5px;
    font: 100 16px Arial;
    border-radius: 10px;
    cursor:pointer;
    outline:none;
    border: none;
    /* border:0.001px solid #ffffff; */
    box-shadow:inset 0px 0px 10px 0px #eeee;
    transition:0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.eq-cont .eq-wrapper .eq-options button:hover{
    transform: scale(1.1,1);
    background:rgba(98, 172, 241, 0.4);
    box-shadow:inset 0px 0px 20px 0px #63cdff;
}
.room-box{
    backdrop-filter: blur(30px);
    background: #00000080;
    width:1000px;
    height:500px;
    position: absolute !important;
    box-shadow: 0px -4px 0px 0px #eeee;
    border: 1px solid #eee;
    border-radius: 10px;
    display:flex !important;
    top: 60px;
    flex-direction: row !important;
    align-items:center !important;
    justify-content:center !important;
    right: -800px;
    transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    visibility:hidden;
}
.room-box.active{
    right: 200px;
    visibility:visible;
}
.room-box .room-options{
    display:flex;
    flex-direction:column;
    margin:20px;
    width:400px;
    padding:20px;
    align-items:center !important;
    justify-content:center !important;
    /* height:500px */
}
.room-box .room-options select{
    width:130px;
    padding:10px;
    border-radius: 5px;
}
.room-box .room-options .sw{
    color: #fdfeff;
    font-size:xx-large;
    margin:50px;
}
.room-box .room-options button{
    margin:50px;
    width:100px;
    height:40px;
    background-color:transparent;
    color:white;
    padding:5px;
    font: 100 16px Arial;
    border-radius: 10px;
    cursor:pointer;
    outline:none;
    border: none;
    /* border:0.001px solid #ffffff; */
    box-shadow:inset 0px 0px 10px 0px #eeee;
    transition:0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.room-box .room-options button:hover{
    transform: scale(1.1,1);
    background:rgba(98, 172, 241, 0.4);
    box-shadow:inset 0px 0px 20px 0px #63cdff;
}
.room-box .room-options .sw .on{
    color: #63cdff !important;
}
.room-box .room-box-slides{
    width:600px;
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,2fr));
    grid-template-rows: auto;
   justify-content: center;
   align-items: center;
    grid-gap: 2px 2px;
   margin: 14px;
}
.room-box .room-box-slides .room-label {
    color: #fff;
    font: 500 18px Ubuntu,Arial;
}

.room-box .room-box-slides .room-label span{
    color: #fff;
    font: 500 18px Ubuntu,Arial;
}
.room-box .room-box-slides .room-effects , .compressor, #ratexp,#balance,#audioboost{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.room-box .room-header{
    font: 300 23px Ubuntu,Arial;
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 200px;

}
.close-room{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: transparent;
    transform: scale(1,1);
    transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.close-room:hover{
    background: red;
    border: 1px solid red;
    transform: scale(1.1,1.1)
}